In [1]:
!pip install sqlalchemy
!pip install mysqlclient

Requirement already satisfied: sqlalchemy in c:\users\user\.conda\envs\py3-tf2\lib\site-packages (1.3.1)
Requirement already satisfied: mysqlclient in c:\users\user\.conda\envs\py3-tf2\lib\site-packages (1.4.4)

In [2]:
import tensorflow as tf
print(tf.__version__)

2.0.0-rc0

In [3]:
import sqlalchemy as db2
engine = db2.create_engine('mysql://root@localhost/forex')
connection = engine.connect()
metadata = db2.MetaData()
renko = db2.Table('renko', metadata, autoload=True, autoload_with=engine)
state_table = db2.Table('state', metadata, autoload=True, autoload_with=engine)
price = db2.Table('price', metadata, autoload=True, autoload_with=engine)
# print(price.columns.keys())

In [4]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="forex"
)

print(db)

<mysql.connector.connection.MySQLConnection object at 0x0000013FDAE76048>

In [5]:
def ask_user(msg):
    print(msg)
    response = ''
    while response.lower() not in {"yes", "no"}:
        response = input("Please enter yes or no: ")
    return response.lower() == "yes"

In [21]:
import sys
import numpy as np
import pandas as pd

dt = {'id': np.int64, 'direction': str, 'start_price': np.float64, 'close_price': np.float64, 'decision': str }
parse_dates = ['start_time', 'close_time']

renkodf = pd.read_csv(r'renko25.csv', dtype=dt, parse_dates=parse_dates) 
renkodf.head(10)

,id,direction,start_price,close_price,start_time,close_time,decision
0,1,up,1.29368,1.29618,2012-01-01 22:00:36,2012-01-02 09:01:53,up
1,2,down,1.29618,1.29368,2012-01-02 09:01:53,2012-01-02 12:50:54,up
2,3,up,1.29368,1.29618,2012-01-02 12:50:54,2012-01-03 01:15:38,up
3,4,up,1.29618,1.29868,2012-01-03 01:15:38,2012-01-03 02:08:58,up
4,5,up,1.29868,1.30118,2012-01-03 02:08:58,2012-01-03 09:53:28,up
5,6,up,1.30118,1.30368,2012-01-03 09:53:28,2012-01-03 10:10:06,down
6,7,down,1.30368,1.30118,2012-01-03 10:10:06,2012-01-03 13:13:42,up
7,8,up,1.30118,1.30368,2012-01-03 13:13:42,2012-01-03 14:07:47,down
8,9,up,1.30368,1.30618,2012-01-03 14:07:47,2012-01-03 15:21:09,down
9,10,down,1.30618,1.30368,2012-01-03 15:21:09,2012-01-04 02:34:40,down

In [22]:
renkodf.dtypes

id                      int64
direction              object
start_price           float64
close_price           float64
start_time     datetime64[ns]
close_time     datetime64[ns]
decision               object
dtype: object

In [24]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D