In [1]:
!pip install sqlalchemy
!pip install mysqlclient

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.1)
Requirement already satisfied: mysqlclient in c:\programdata\anaconda3\lib\site-packages (1.4.4)

In [2]:
import sqlalchemy as db2
engine = db2.create_engine('mysql://root@localhost/forex')
connection = engine.connect()
metadata = db2.MetaData()
renko = db2.Table('renko', metadata, autoload=True, autoload_with=engine)
state_table = db2.Table('state', metadata, autoload=True, autoload_with=engine)
price = db2.Table('price', metadata, autoload=True, autoload_with=engine)
# print(price.columns.keys())

In [3]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="forex"
)

print(db)

<mysql.connector.connection.MySQLConnection object at 0x000001C21D4CEB38>

In [4]:
def ask_user(msg):
    print(msg)
    response = ''
    while response.lower() not in {"yes", "no"}:
        response = input("Please enter yes or no: ")
    return response.lower() == "yes"

In [5]:
import sys
import pandas as pd

renkoData = connection.execute(db2.select([renko])).fetchall()
renkodf = pd.DataFrame(renkoData)
renkodf.columns = renkoData[0].keys()

row_count = len(renkodf.index)

decision_list = ['open']*row_count

renkodf['decision']=decision_list

level = 0

kangal_gushti = {
    'up': {},
    'down':{}
}

for index, row in renkodf.iterrows():
    if row['direction']=='up':
        level += 1
    if row['direction']=='down':
        level -= 1



    if (level+2) not in kangal_gushti['up']:
        kangal_gushti['up'][level+2]=[index]
    else:
        kangal_gushti['up'][level+2].append(index)
    
    if (level-2) not in kangal_gushti['down']:
        kangal_gushti['down'][level-2]=[index]
    else:
        kangal_gushti['down'][level-2].append(index)



    if level in kangal_gushti['up']:
        kangals = kangal_gushti['up'][level]
        for kangal in kangals:
            if renkodf.loc[kangal, :]['decision']=='open':
                ganja=1
                renkodf.at[kangal, 'decision']='up'
            kangal_gushti['up'][level].remove(kangal)
            
    if level in kangal_gushti['down']:
        kangals = kangal_gushti['down'][level]
        for kangal in kangals:
            if renkodf.loc[kangal, :]['decision']=='open':
                ganja=1
                renkodf.at[kangal, 'decision']='down'
            kangal_gushti['down'][level].remove(kangal)
            
renkodf.head(10)

,id,direction,start_price,close_price,start_time,close_time,decision
0,1,up,1.2936800000,1.2961800000,2012-01-01 22:00:36,2012-01-02 09:01:53,up
1,2,down,1.2961800000,1.2936800000,2012-01-02 09:01:53,2012-01-02 12:50:54,up
2,3,up,1.2936800000,1.2961800000,2012-01-02 12:50:54,2012-01-03 01:15:38,up
3,4,up,1.2961800000,1.2986800000,2012-01-03 01:15:38,2012-01-03 02:08:58,up
4,5,up,1.2986800000,1.3011800000,2012-01-03 02:08:58,2012-01-03 09:53:28,up
5,6,up,1.3011800000,1.3036800000,2012-01-03 09:53:28,2012-01-03 10:10:06,down
6,7,down,1.3036800000,1.3011800000,2012-01-03 10:10:06,2012-01-03 13:13:42,up
7,8,up,1.3011800000,1.3036800000,2012-01-03 13:13:42,2012-01-03 14:07:47,down
8,9,up,1.3036800000,1.3061800000,2012-01-03 14:07:47,2012-01-03 15:21:09,down
9,10,down,1.3061800000,1.3036800000,2012-01-03 15:21:09,2012-01-04 02:34:40,down

In [6]:
renkodf.to_csv(r'renko25.csv', index = None, header=True)

In [7]:
renkodf.dtypes

id                      int64
direction              object
start_price            object
close_price            object
start_time     datetime64[ns]
close_time     datetime64[ns]
decision               object
dtype: object